$white: #FFFFFF;
$bg-color: #ddd;
$light-gray: #e6e6e6;
$dark-gray: #333;
$darker-gray: #222;
$purple-light: #6E54BD;
$purple-medium: #5f5f92;
$purple-dark: #2C2C54;
$red: #ff6961;

$overlay-padding: 5px 10px;
$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$border: 1px solid rgba(0, 0, 0, 0.2);

$mobile-breakpoint: 768px;

$overlay-z-index: 1000;
$overlay-background: rgba(255, 255, 255, 0.9);
$overlay-background-more-visible: rgba(255, 255, 255, 0.95);

$flag-border-radius: 4px;