.game-over-header {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.game-over-points {
  font-size: 4rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.game-over-country {
  font-size: 1.5rem;
}
